<div class="wrapper about-us">
  <h1>About Us</h1>
  <table>
    Chức năng:
    <tr>
      <td>STT</td>
      <td></td>
    </tr>
    <tr>
      <td>1</td>
      <td>CRUD Product</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Pagination</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Xử lý thông tin để hiện thị Product lên trang Web</td>
    </tr>
  </table>
  <br />
  <table>
    Công nghệ:
    <tr>
      <td>STT</td>
      <td></td>
    </tr>
    <tr>
      <td>Front-end</td>
      <td>Angular 17, PrimeNG, Bootstrap</td>
    </tr>
    <tr>
      <td>Back-end</td>
      <td>Node JS</td>
    </tr>
    <tr>
      <td>Deploy</td>
      <td>Back-end: https://dull-rose-stingray-fez.cyclic.app/clothes</td>
    </tr>
  </table>
  <br />
</div>
